* {
    box-sizing: border-box;
}
p {
    color: red;
    width: 300px;
  }
h1{
    font-weight: bold;
    color: darkgray;
    border: 1px solid red;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 30px;
}
section{
    border: 1px solid red;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 30px;
}
@media only screen and (max-width: 660px){
body{
    background-color: red;
}
}
    
